{% extends 'base.html' %}

{% block content %}

<div class='container mb-5'>

    <div class ='container-fluid'>

        <div class='row'>
            <!-- User Profile Card -->
            <div class='col-12 col-md-4 col-lg-3 mb-5'>
                <div class='container-fluid bg-secondary py-3 rounded'>
                    {% load static %}
                    <img class='img-fluid rounded w-25 m-3 d-block mx-auto' src='{% static "demos/images/bwsq.png" %}'/>
                    <h5 class='text-white text-center'>{{ user.first_name }} {{ user.last_name }}</h5><br />

                    <!-- Display Total Active And Completed ToDo Items -->
                    <p>
                        <small class='text-white'>To-Do: {{ tcount }}</small><br />
                        <small class='text-white'>Completed: {{ ccount }}</small>
                    </p>

                    <a href='{% url "todo-add" %}'>
                        <button class='btn btn-light btn-block mb-3'><i class='fas fa-plus'></i> Add Item</button>
                    </a>
                    <a href='{% url "todo-dashboard" %}'>
                        <button class='btn btn-light btn-block'><i class="fas fa-home"></i> Dashboard</button>
                    </a>

                </div>
            </div>

            <!-- ToDo Application View All Entries -->
            <div class='col-12 col-md-8 col-lg-9 rounded'>

                <h1 class='mt-3'>All To-Do Items:</h1>
                <br />
                <table class='table'>
                    <thead>
                        <tr class='bg-light'>
                            <th scope='col'>Title</th>
                            <th scope='col'>Date</th>
                            <th scope='col'>Description</th>
                            <th scope='col'>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- Sets Even Items As Class For Formatting -->
                    {% for t in todo.all %}
                        {% if forloop.counter|divisibleby:2 %}
                        <tr class='even'>
                        {% else %}
                        <tr>
                        {% endif %}
                        <a href="#todoModal{{ t.id }}" data-toggle="modal" data-target="#todoModal{{ t.id }}">
                            <td><a href="#todoModal{{ t.id }}" data-toggle="modal" data-target="#todoModal{{ t.id }}">
                                {{ t.ToDo_Title }}</a></td>
                            <td><a href="#todoModal{{ t.id }}" data-toggle="modal" data-target="#todoModal{{ t.id }}">
                                {{ t.clean_date }}</a></td>
                            <td><a href="#todoModal{{ t.id }}" data-toggle="modal" data-target="#todoModal{{ t.id }}">
                                {{ t.ToDo_Description }}</a></td>
                            <td>
                                <a href="#todoModal{{ t.id }}" data-toggle="modal" data-target="#todoModal{{ t.id }}">
                                {% if t.ToDo_Completed %}
                                    Completed
                                {% else %}
                                    Active
                                {% endif %}
                                </a>
                            </td>
                        </a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% for t in todo.all %}
            <!-- Modal -->
            <div class="modal fade" id="todoModal{{ t.id }}" tabindex="-1" aria-labelledby="todoModalLabel{{ t.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title" id="todoModalLabel{{ t.id }}">{{ t.ToDo_Title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <!-- Checks For Existing Data For Each To Display, Or To Not Display -->
                            {% if not t.ToDo_Completed %}
                            <a href='{% url "todo-complete" t.id %}'>
                                <button class='btn btn-secondary m-1' style='float:right;'><i class='fas fa-check'></i></button>
                            </a>
                            <strong>Status:</strong> Active<br />
                            {% else %}
                            <strong>Status:</strong> Completed<br />
                            {% endif %}
                            <strong>Due:</strong> {{ t.ToDo_Time }}<br />
                            {% if t.ToDo_Location %}
                                <strong>Location:</strong> {{ t.ToDo_Location }}<br />
                            {% endif %}
                            {% if t.ToDo_Description %}
                                <strong>Description:</strong> {{ t.ToDo_Description }}<br />
                            {% endif %}
                            {% if t.ToDo_Complete_Date %}
                                <strong>Completed:</strong> {{ t.ToDo_Complete_Date }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        
    </div>

</div>

{% endblock %}